@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&family=Sriracha&display=swap');
*{
    margin: 0;
    padding: 0;
}
html, body{
    min-height: 100vh;
}
header{
    background-color: black;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
header h1{
    font-family: 'Passion One', cursive;
    font-size: 10vw;
    padding-top: 20px;
    padding-bottom: 10px;
}
header p{
    font-size: 1.2em;
    padding-bottom: 40px;
    
}
header a{
    color: white;
    text-decoration: none;
}
header a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: 'Sriracha', cursive;
    font-size: 3.5vw;
}
section.normal{
    background-color: white;
    color: black;
}
section.foto{
    background-color: grey;
    color: white;
    background-size: cover;
    box-shadow: inset 6px 6px 12px 0px rgba(0, 0, 0, 0.377);
}
section.foto > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.363);
    padding: 10px;
    text-shadow: 2px 2px 0px black;

}
#imagem1{
    background: grey url('imagens/background001.jpg') center center no-repeat fixed;
}
#imagem2{
    background: grey url('imagens/background002.jpg') center center no-repeat fixed;
}
footer{
    background-color: black;
    text-align: center;
    color: white;
    font-size: 1.2em;
    padding-top: 5px;
    padding-bottom: 5px;
}
footer a{
    color: white;
}